<ion-view view-title="Contact">
    <ion-content class="myContact"><br/>
        <div class="text-center container">
            <h3><strong>Please do not hesitate <br/>to contact me if you <br/> have any questions or <br/> require further information.</strong></h3><br/>
            <h2><strong>Made by DevLab </strong></h2><h3>(actually just me..)</h3><br/>
            <h3><strong>Email address :</strong></h3> <h3>youss.hark@gmail.com</h3><br/>
            <h3><strong>mobile :</strong></h3><h3>+33629646771</h3>
        </div>
    </ion-content>
</ion-view>