<ion-view view-title="Weather Infos">
    <ion-content overflow-scroll="false" class=padding">



        <div class="list">

            <a class="item">City : {{meteo.city.name}} ({{meteo.city.country}})</a>
            <a class="item item-avatar"  ng-repeat="m in meteo.list">
                <img src="img/{{m.weather[0].main}}.png">
                <h2 >{{m.dt*1000|date:'EEEE yy-dd-MM'}}</h2>
                <p>temp min : <strong>{{m.temp.min}} °C</strong> || temp max : <strong>{{m.temp.max}} °C</strong></p>

            </a>


        </div>
    </ion-content>
</ion-view>