/* Empty. Add your own CSS if you like */
.container{
    position: relative;
}

.myContact h2,h3{
    color: bisque;
    font:bolder;
    font-family: "Segoe UI";
}

.image{
    width:50%;
}

#city{
    font-size: 150%;

    color: bisque;
    font:bolder ornament ;
    font-family: "Segoe UI";
}
.under{
    text-align: center;
    padding-top: 35%;
}
.scroll{
    height: 100%;
}

#map{
    height: 100%;
    width: 100%;
}

.live {
    padding-top: 25%;
    text-align: center;

}

.live h1, h2{
    font:bolder ornament ;
    font-family: "Segoe UI";
}

.scroll-content{
    background: url("../img/backgd.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}